.sfondo-img {
  background-image: url('https://cdn.discordapp.com/attachments/952615495184564305/958488171891527720/whatsapp_wallpapers_in_hd.png');
  background-size: 100%;
  border-radius: 1%;
}

.sfondo {
  background-color: #011b29;
}

.list-group-item {
  background-color: #023049;
}

.scrollbar {
  overflow-wrap: anywhere;
  height: 500px;
  overflow-y: scroll;
}
.force-overflow {
  min-height: 500px;
}

.scrollbar-info::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #02067a00;
  border-radius: 10px;
}

.scrollbar-info::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f500;
}

.scrollbar-info::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #027b00;
}

