﻿@model ASP_Palestra_Task.ViewModels.IscrizioneViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<div class="row mt-5">
    <div class="col-md form-row justify-content-md-around">
        @foreach (var item in @Model.Corsi)
            {
                <div class="card mb-5 bg-dark text-white" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@item.Titolo</h5>
                        <p class="card-text">@item.Descrizione</p>
                        <footer> Data: @item.DataInizio.ToShortDateString() - @item.DataFine.ToShortDateString()</footer>
                        <footer class="mb-2">Orario: @item.OraInizio - @item.OraFine</footer>
                        @if (ViewData["User"] != null)
                        {
                            <a asp-action="IscrizioneCorso" asp-controller="Iscrizione" class="btn btn-outline-success btn-sm text-right">Iscriviti al corso</a>
                        }
                        else
                        {
                            <a asp-action="SignIn" asp-controller="Home" class="btn btn-outline-success btn-sm text-right">Registrati</a>
                        }
                    </div>
                </div>
            }
    </div>
</div>
