﻿@model ASP_Palestra_Task.Models.Credenziali
@{
    ViewData["Title"] = "Log In";
    Layout = "_Layout";
}

<div class="row mt-5">
    <div class="col-md-4"></div>
    <div class="col-md-4 bg-dark rounded text-white p-3">
        <form method="post">
            <div class="form-group">
                <label asp-for="Username">Username</label>
                <span class="text-danger" asp-validation-for="Username"></span>
                <input class="form-control" asp-for="Username" placeholder="Inserire username" />
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <span class="text-danger" asp-validation-for="Password"></span>
                <input class="form-control" type="password" asp-for="Password" placeholder="Inserire password" />
            </div>
            <input type="submit" class="btn btn-outline-success btn-block" value="Login" />
        </form>
        <div class="mt-2 text-right">
            <a class="text-success" asp-controller="Home" asp-action="SignIn">Non sei iscritto? Iscriviti!</a>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>