﻿@model ASP_Palestra_Task.Models.Utente
@{
    Layout = "_Layout";
    ViewData["Title"] = "SignIn";
}

<div class="justify-content-md-around mt-5">
    <form method="post">
        <div class="bg-dark rounded form-row text-white p-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Nome">Nome</label>
                    <span class="text-danger" asp-validation-for="Nome"></span>
                    <input asp-for="Nome" placeholder="Inserire nome" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="Cognome">Cognome</label>
                    <span class="text-danger" asp-validation-for="Cognome"></span>
                    <input asp-for="Cognome" placeholder="Inserire cognome" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="Indirizzo">Indirizzo</label>
                    <span class="text-danger" asp-validation-for="Indirizzo"></span>
                    <input asp-for="Indirizzo" placeholder="Inserire indirizzo" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="DataNascita">Data di nascita</label>
                    <span class="text-danger" asp-validation-for="DataNascita"></span>
                    <input asp-for="DataNascita" min="1900-01-01" type="date" class="form-control"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Username">Username</label>
                    <span class="text-danger" asp-validation-for="Username"></span>
                    <input asp-for="Username" placeholder="Inserire email" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="PasswordUtente">Password</label>
                    <span class="text-danger" asp-validation-for="PasswordUtente"></span>
                    <input asp-for="PasswordUtente" type="password" placeholder="Inserire password" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="PasswordConferma">Conferma Password</label>
                    <span class="text-danger" asp-validation-for="PasswordConferma"></span>
                    <input asp-for="PasswordConferma" type="password" placeholder="confermare la password" class="form-control"/>
                </div>
            </div>
            <input type="submit" class="btn btn-outline-success btn-block mt-2" value="Iscriviti"/>
        </div>
    </form>
</div>