﻿@media screen and (max-width: 768px) {
    .justify-content-md-around {
        justify-content: center !important;
    }
}

.form-control {
    background-color: #cfcfcf;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #444;
}

.bg-dark {
    background-color: #2b2b2b !important;
}

body {
    background-image: url("https://scontent-mxp1-1.xx.fbcdn.net/v/t1.6435-9/131639727_1788307787993601_1174758549223106816_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=o0bQjpWHo5EAX_tI_p-&_nc_oc=AQmy-pUdpQZ4PdaouqhgN601ePWAlE4XSjrkUQ2EVcLkJbGprzzzlJd-h7FnJUxJ42s&_nc_ht=scontent-mxp1-1.xx&oh=00_AT-7mLVxJxYdLuiVFjJHpSW8Y9cKr148dS95gd02y-DJrg&oe=62791F7A");
    background-position: center center;
    background-size: auto, 100vh;  
    height: 100%
}
html {
    height: 100%
}

.scrollbar {
    height: 350px;
    overflow-y: scroll;
}

.force-overflow {
    min-height: 500px;
}

.scrollbar-info::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #444;
    border-radius: 10px;
}


.scrollbar-info::-webkit-scrollbar-thumb {
    border-radius: 20px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #027b00;
}
