﻿@using ASP_Palestra_Task.Models
@model ASP_Palestra_Task.ViewModels.IscrizioneViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Area Personale";
}

<div class="row">
    <div class="col-md-4 mt-5 bg-dark rounded text-white p-3">
        <h4>Username(Email):</h4>
            <h6>@Model.UtenteLogged.Username</h6>
            <h4 class="text">Nome:</h4>
            <h6>@Model.UtenteLogged.Nome</h6>
            <h4>Cognome:</h4>
            <h6>@Model.UtenteLogged.Cognome</h6>
             <h4>Indirizzo:</h4>
            <h6>@Model.UtenteLogged.Indirizzo</h6>
            <h4>Data di nascita:</h4>
            <h6>@Model.UtenteLogged.DataNascita.ToShortDateString()</h6>
    </div>
    <div class="col-md-8 mt-5">
        @if (Model.Iscrizioni.Count != 0)
        {
            <div class="list-group scrollbar scrollbar-info">
                <div class="force-overflow">
                    @foreach (Iscrizione item in Model.Iscrizioni)
                    {
                        <div class="list-group-item bg-dark text-white">
                            <div class="d-flex w-100 justify-content-between mb-2">
                                <h4>@item.CorsoRifNavigation.Titolo</h4>
                                <small class="text-muted">@item.DataIscrizione.ToShortDateString()</small>
                            </div>
                            <p class="mb-1">@item.CorsoRifNavigation.Descrizione</p>
                            <div class="text-right">
                                <a class="btn btn-outline-danger btn-sm" asp-controller="Iscrizione" asp-action="Cancella" asp-route-id="@item.IscrizioneID">Annulla Iscrizione</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="alert alert-dark text-center">
                <h3>Non sei iscritto a nessun corso!</h3>
            </div>
        }
    </div>
</div>
