﻿@using ASP_Palestra_Task.Models
@model ASP_Palestra_Task.ViewModels.IscrizioneViewModel
@{
    ViewData["Title"] = "Iscrizione al Corso";
    Layout = "_Layout";
}

<div class="row mt-5">
    <div class="col-md form-row justify-content-md-around">
        @if (Model.Corsi.Count != 0)
        {
            foreach (var item in @Model.Corsi)
            {
                <div class="card mb-5 bg-dark text-white" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@item.Titolo</h5>
                        <p class="card-text">@item.Descrizione</p>
                        <footer> Data: @item.DataInizio.ToShortDateString() - @item.DataFine.ToShortDateString()</footer>
                        <footer class="mb-2">Orario: @item.OraInizio - @item.OraFine</footer>
                        <a asp-action="Iscrizione" asp-route-id="@item.CorsoId" class="btn btn-outline-success">Iscriviti</a>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="alert alert-success mt-3">
                <h2>Sei iscritto a tutti i corsi</h2>
            </div>
        }
    </div>
</div>

