﻿@using Microsoft.AspNetCore.Http
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="@Url.Content("~/asserts/css/style.css")"/>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Palestra MVC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                @if (ViewData["User"] != null){
                    <li class="nav-item text-white">
                        <a class="nav-link disabled text-success">@ViewData["User"]</a>
                    </li>
                    <li class="nav-item text-white">
                        <a class="nav-link" asp-controller="Iscrizione" asp-action="AreaPersonale">Area Personale</a>
                    </li>
                    <li class="nav-item text-white">
                        <a class="nav-link" asp-controller="Iscrizione" asp-action="IscrizioneCorso">Iscrizione ai corsi </a>
                    </li>
                    <li class="nav-item text-white">
                        <a class="nav-link text-danger" asp-controller="Home" asp-action="LogOut">Logout</a>
                    </li>
                }
                @if (ViewData["User"] == null)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="LogIn">Effettua Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="SignIn">Effettua L'iscrizione</a>
                    </li>
                }
            </ul>
        </div>
    </nav>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
