.box div {
  background-color: rgb(0, 0, 255);
  border: 1px solid;
}

@media screen and (max-width: 768px) {
  .box div {
    background-color: aqua;
  }

  .col-6 {
    flex: 0 0 33.3%;
  }
}

.sfondo-giallo {
  background: linear-gradient(#e66465, #9198e5);
}
